<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{{__ "pages.layout.meta_description"}}">
  <meta name="author" content="{{__ "pages.layout.meta_author"}}">
  <meta property="og:title" content="{{__ "pages.layout.title"}}">
  <meta property="og:type" content="website">
  <meta property="og:description" content="{{__ "pages.layout.meta_content"}}">
  <meta property="og:image" content="{{host}}/images/carousel-images/pic2.jpeg">
  <meta property="og:url" content="{{canonicalUrl}}">
  <meta name="twitter:card" content="summary_large_image">
  <link rel="canonical" href="{{canonicalUrl}}">
  {{#if title}}
      <title>{{title}} - {{__ "pages.layout.title"}}</title>
  {{else}}
      <title>{{__ "pages.layout.title"}}</title>
  {{/if}}
  {{#if (productionEnv)}}
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.min.css">
  {{else}}
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
  {{/if}}
  {{> 'favicon'}}
  <script src="/javascripts/main.js"></script>
  {{#if (productionEnv)}}
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-174247094-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-174247094-1');
    </script>
  {{/if}}
</head>

<body>
  <div class="wrapper">
    {{> 'header'}}

    {{{body}}}

    {{> 'footer'}}
  </div>
</body>

</html>